// -----------------------------------------------------------------
// Template

.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 50px;
}

// -----------------------------------------------------------------
// Photos

.image {
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 40px 0 40px 0;
}

.gallery * {
  width: 100%;
  float: center;
}

// -----------------------------------------------------------------
// Menu

.menu_bar {
  width: 100%;
  padding: 10px 0 10px 0;
  position: fixed;
  // background-color: rgba(255, 255, 255, 0.5);
}

.menu_item {
  color: black;
  margin: 10px;
}

// -----------------------------------------------------------------